<div class='container mb-5 mt-3' style="margin: auto;">
  <div style="position: relative; text-align: center; max-width: 400px; margin: auto;">
    <h1 class="d-flex flex-column justify-content-center align-items-center w-100 mb-4" style="font-weight: bold;"><%= @recommendation.activity.name %></h1>

    <%= image_tag @recommendation.activity.img, alt: "Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>


  </div>

  <h2 class="my-3"><%= recommendation.activity.address %></h2>

  <p>Website: <%= recommendation.activity.website %></p>

  <h2>Address</h2>
  <p><%= recommendation.activity.address %></p>
  <%= render 'recommendations/details/map', recommendation: @recommendation, markers: @markers %>


</div>
