<div class='container mb-5 mt-3' style="margin: auto;">
  <div style="position: relative; text-align: center; max-width: 400px; margin: auto;">
    <h1 class="d-flex flex-column justify-content-center align-items-center w-100 mb-4" style="font-weight: bold;"><%= @recommendation.activity.name %></h1>

    <%= image_tag @recommendation.activity.img, alt: "Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>
    <%# <% images = ['event1.jpeg', 'event2.jpeg', 'event3.jpeg', 'event4.jpeg', 'event5.avif', 'event6.avif'] %>
    <%# <% random_image = images.sample %>
    <%# <%= image_tag random_image, alt: "Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>


  </div>

<p>Website: <%= recommendation.activity.website %></p>

<h2 class="my-3" style="margin-right: 40px;"> Event Day <br>
    <p style="font-size: large;">
      <%= recommendation.activity.date %></h2>
    </p>
  <p><%= recommendation.activity.description %></p>

</div>
