<div class='recommendation-card'>
  <p>Name: <%= recommendation.activity.title %></p>
  <p>Poster: <%= recommendation.activity.poster %></p>
  <p>Description: <%= recommendation.activity.description %></p>
  <p>Screen_time: <%= recommendation.activity.screen_time %></p>
  <p>Therter: <%= recommendation.activity.theater_address %></p>
  <p>Rating: <%= recommendation.activity.rating %></p>
  <p>Genre: <%= recommendation.activity.genre %></p>
</div>
