
<div class='detail-card mt-3'>
  <h1 class="title mt-2"><%= recommendation.activity.title %></h1>

   <%= image_tag @recommendation.activity.poster, alt: "Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>
  <h2 style="font-size: x-large;">Release Date:
       <p style="font-size: large;">
          <%= recommendation.activity.screen_time %>
       </p>
  </h2>

  <p><%= recommendation.activity.description %></p>

  <div class="d-flex pt-4 img-food">
    <h2 class="">Genre
      <ul>
        <li class="mx-2">
          <%= recommendation.activity.genre %>
        </li>
      </ul>
    </h2>
    <h2 class="" style="margin-right: 40px;" >Rating: <br>
      <p style="font-size: large;">
        <%= recommendation.activity.rating %>
      </p>
    </h2>
  </div>








  <h2>Address</h2>
  <p><%= recommendation.activity.address %></p>
  <%= render 'recommendations/details/map', recommendation: @recommendation, markers: @markers %>

</div>
