<div class='detail-card mt-3 w-100'>
  <h1 class="title mt-2"><%= recommendation.activity.name %></h1>

  <div class="d-flex pt-4 img-food">
    <h2 class="">Cuisine
      <ul>
        <li class="py-2">
          <%= recommendation.activity.cuisine %>
        </li>
      </ul>
    </h2>
    <%= image_tag(recommendation.activity.photo) %>
  </div>

  <h2>Price Level: <%= recommendation.activity.price_level %></h2>

  <div class="capsule-container mb-5 mt-3">
    <div class='review-stars'>
      <% full_stars = recommendation.activity.rating.floor %>
      <% half_star = (recommendation.activity.rating % 1 >= 0.5) ? 1 : 0 %>
      <% empty_stars = 5 - full_stars - half_star %>

      <% full_stars.times do %>
        <%= image_tag "star_fullG.png", alt: "Full Star", class: "star" %>
      <% end %>

      <% if half_star > 0 %>
        <%= image_tag "half_starG.png", alt: "Half Star", class: "star" %>
      <% end %>

      <% empty_stars.times do %>
        <%= image_tag "empty_star.png", alt: "Empty Star", class: "star" %>
      <% end %>
    </div>
  </div>

  <h2>Hours Open
    <p style="font-size: large; font-weight: normal;">
    Monday:  9:00 - 16:00 <br>
    Tuesday:  9:00 - 16:00 <br>
    Wednesday:  9:00 - 16:00 <br>
    Thursday:  9:00 - 16:00 <br>
    Friday:  9:00 - 16:00 <br>
    Saturday:  9:00 - 16:00 <br>
    Sunday:  9:00 - 16:00 <br>
    </p>
  </h2>
