<div class='recommendation-card'>
  <p>Name: <%= recommendation.activity.name %></p>
  <p>Photo: <%= recommendation.activity.photo %></p>
  <p>Rating: <%= recommendation.activity.rating %></p>
  <p>Price Level: <%= recommendation.activity.price_level %></p>
  <p>Type: <%= recommendation.activity.cuisine %></p>
  <p>Website: <%= recommendation.activity.website %></p>
  <p>Address: <%= recommendation.activity.address %></p>
  <p>Open hours: <%= recommendation.activity.hours %></p>
</div>
