<div class='recommendation-card'>
  <p>Name: <%= recommendation.activity.name %></p>
  <p>Date: <%= recommendation.activity.date %></p>
  <p>Description: <%= recommendation.activity.description %></p>
  <div class='d-none'>
    <p>Address: <%= recommendation.activity.address %></p>
    <p>Website: <%= recommendation.activity.website %></p>
  </div>
</div>
