<div class='recommendation-card'>
  <div class='d-none'>
    <p>Screen_time: <%= recommendation.activity.screen_time %></p>
    <p>Therter: <%= recommendation.activity.address %></p>
    <p>Rating: <%= recommendation.activity.rating %></p>
    <p>Genre: <%= recommendation.activity.genre %></p>
  </div>
</div>



<div class='container mb-5 mt-3' style="margin: auto;">
  <div style="text-align: center; max-width: 400px; margin: auto;">
    <h1 class="d-flex flex-column justify-content-center align-items-center w-100 mb-4" style="font-weight: bold;"><%= @recommendation.activity.title %></h1>

    <% poster_url = @recommendation.activity.poster %>
    <% base_url = "https://image.tmdb.org/t/p/original" %>
    <% if poster_url.present? && !poster_url.eql?(base_url) %>
      <div style="position: relative;">
        <%= image_tag poster_url, alt: "Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>
        <div style="position: absolute; bottom: 18px; right: 14px;">
          <%= link_to 'More info', details_path(@recommendation), class: 'beautyorange', style: 'border-radius: 20px;' %>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-content-center align-items-center no-photo" style="height: 100px;"> <!-- Reduced height for less space -->
        <%= link_to 'More info', details_path(@recommendation), class: 'beautyorange centered-info', style: 'border-radius: 20px;' %>
      </div>
    <% end %>
  </div>

  <!-- Details Section -->
  <div class="mx-2" style="text-align: center; max-width: 400px; margin: auto; margin-top: 20px;">
    <p><%= @recommendation.activity.description %></p>
    <div class="mt-4">
    <h2 style="text-align: start;">Genre:</h2>
      <h2 style="font-weight: 400; font-size: 25px; text-align: start; margin-bottom: 0px;">
        <span style="font-weight: 400; font-size: 20px; text-align: start;"><%= @recommendation.activity.genre %></span>
      </h2>
    </div>
  </div>
</div>
