<div class='container mb-5 mt-3' style="margin: auto;">
  <div style="position: relative; text-align: center; max-width: 400px; margin: auto;">
    <h1 class="d-flex flex-column justify-content-center align-items-center w-100 mb-4" style="font-weight: bold;"><%= @recommendation.activity.name %></h1>

    <% if @recommendation.activity.photo.present? %>
      <%= image_tag @recommendation.activity.photo, alt: "Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>
    <% else %>
      <%= image_tag "thai.png", alt: "Default Activity Photo", class: "activity-photo mb-4 d-flex flex-column justify-content-center align-items-center w-100" %>
    <% end %>

    <div style="position: absolute; bottom: 18px; right: 14px;">
      <%= link_to 'More info', details_path(@recommendation), class: 'beautyorange', style: 'border-radius: 20px;' %>
    </div>
    <div style="position: absolute; bottom: 60px; right: 14px;">
      <%= button_to recommendation_path(@recommendation), method: :patch, params: { status: 'bookmarked', session_id: @recommendation.session.id }, class: 'btn text-white fs-2 bg-warning' do%>
        <i class="fa-regular fa-bookmark"></i>
      <% end %>
    </div>
  </div>

  <!-- Details Section -->
  <div class="mx-3" style="text-align: start; max-width: 400px; margin: auto; margin-top: 20px;">
    <div class="capsule-container mb-4" style="margin-left: 40px;">
      <div class='review-stars'>
        <% full_stars = @recommendation.activity.rating.floor %>
        <% half_star = (@recommendation.activity.rating % 1 >= 0.5) ? 1 : 0 %>
        <% empty_stars = 5 - full_stars - half_star %>

        <% full_stars.times do %>
          <%= image_tag "star_full.png", alt: "Full Star", class: "star" %>
        <% end %>

        <% if half_star > 0 %>
          <%= image_tag "star_half.png", alt: "Half Star", class: "star" %>
        <% end %>

        <% empty_stars.times do %>
          <%= image_tag "star_empty.png", alt: "Empty Star", class: "star" %>
        <% end %>
      </div>
    </div>

    <h2 class="my-3" >Price Level: <%= recommendation.activity.price_level %></h2>

    <h2 class="my-4">Cuisine
      <ul>
        <li class="py-2">
          <%= recommendation.activity.cuisine %>
        </li>
      </ul>
    </h2>
  </div>
</div>
