<div class='recommendation-card mb-5' style="text-align: center; max-width: 400px; margin: auto; border: 1px solid #ddd; border-radius: 8px; padding: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
  <div class="d-flex flex-column justify-content-center align-items-center w-100">
    <h1 style="font-weight: bold;"><%= recommendation.activity.name %></h1>
    <!-- Utilize image_tag helper with class for styling -->
    <% if recommendation.activity.photo.present? %>
      <%= image_tag recommendation.activity.photo, alt: "Activity Photo", class: "activity-photo" %>
    <% else %>
      <p>No Photo</p>
    <% end %>
    <div class='review-stars'>
      <% full_stars = recommendation.activity.rating.floor %>
      <% half_star = (recommendation.activity.rating % 1 >= 0.5) ? 1 : 0 %>
      <% empty_stars = 5 - full_stars - half_star %>

      <% full_stars.times do %>
        <%= image_tag "star_full.png", alt: "Full Star", class: "star" %>
      <% end %>

      <% if half_star > 0 %>
        <%= image_tag "star_half.png", alt: "Half Star", class: "star" %>
      <% end %>

      <% empty_stars.times do %>
        <%= image_tag "star_empty.png", alt: "Empty Star", class: "star" %>
      <% end %>
    </div>
    <p><%= recommendation.activity.rating %></p>
    <p>Price Range: <%= recommendation.activity.price_level %></p>
    <p>Cuisine: <%= @recommendation.activity.cuisine %></p>
  </div>
</div>
