<div class='recommendation-card'>
  <%# <div class="mb-5 mt-4"> %>
    <%# <div class="d-flex"> %>
      <%# <%= image_tag "back.png", alt: "Back" %>
      <%# <h5 class="before-margin">Restaurants</h5> %>
    <%# </div> %>
    <%# <hr class="custom-hr"> %>
  <%# </div> %>
  <div class="d-flex flex-column justify-content-center align-items-center w-100">
  <h1 style="font-weight: bold;"><%= recommendation.activity.name %></h1>
  <p>Photo: <%= recommendation.activity.photo %></p>
  <p>Rating: <%= recommendation.activity.rating %></p>
  <p>Price Level: <%= recommendation.activity.price_level %></p>
  <p>Type: <%= @recommendation.activity.cuisine %></p>
  <div class='d-none'>
    <p>Website: <%= recommendation.activity.website %></p>
    <p>Address: <%= recommendation.activity.address %></p>
    <p>Open hours: <%= recommendation.activity.hours %></p>
  </div>
  </div>
</div>

<%= link_to 'More info', details_path(@recommendation), class: 'btn btn-warning mx-1 ' %>
