<div class="hover-button">
  <%= button_to recommendation_path(recommendation), method: :patch, params: { type: recommendation.activity.class, status: 'rejected', session_id: session.id, from: params[:from] }, id: "reject", class: 'btn' do %>
    <i class="fa-solid fa-x icon-adjust"></i>
  <% end %>

  <div class="btn-group dropup">
    <%= image_tag "burger_button.png", class: " mx-3 dropdown-toggle", id: "navbarDropup", data: { bs_toggle: "dropdown", bs_offset: "-22,14" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu" aria-labelledby="navbarDropup" style="dropdown-min-width: 6rem !important;">
      <div style="text-align: center;">
        <%= button_to recommendation_path(@recommendation), method: :patch, params: { status: 'bookmarked', session_id: @recommendation.session.id }, class: 'btn text-white fs-1 fw-bolder bookmark' do%>
            <i class="fa-solid fa-bookmark"></i>
        <% end %>
        <%= button_to session_bookmarks_path(@recommendation.session), method: :get, class: 'btn text-white fs-1 fw-bolder bookmark' do%>
            <i class="fa-solid fa-bookmark text-success"></i>
        <% end %>
      </div>
    </div>
  </div>




  <%= button_to recommendation_path(@recommendation), method: :patch, params: { type: @recommendation.activity.class, status: 'accepted', session_id: session.id }, id: "accept", class: 'btn' do %>
    <i class="fa-solid fa-check icon-adjust"></i>
  <% end %>
</div>
