<div id='details-page-header'>
  <div class="mb-1 mt-2">
    <div class="d-flex align-items-center header-box">
    <% if (params[:from] == 'bookmarks') %>
      <%= link_to session_bookmarks_path(@recommendation.session) do %>
        <%= image_tag "back.png", alt: "Back" %>
      <% end %>

    <% elsif (params[:from] == 'profile') %>
      <%= link_to profile_path(params[:type]) do %>
        <%= image_tag "back.png", alt: "Back" %>
      <% end %>

    <% else %>
      <%= link_to recommendation_path(@recommendation) do %>
        <%= image_tag "back.png", alt: "Back" %>
      <% end %>
    <% end %>






      <%# <%= link_to (params[:from] == 'bookmarks' ? session_bookmarks_path(@recommendation.session) : recommendation_path(@recommendation)) do %>
        <%# <%= image_tag "back.png", alt: "Back" %>
      <%# <% end %>
      <%# <%= raise %>
  <h3 class='my-1 header-text'><%= @recommendation.activity.class %></h3>
    </div>
  </div>
</div>


<div class='container'>

  <div class='recommendation-container' data-controller='activity'>
    <div class='<%= "bottom-spacing-for-scrollable" if @recommendation.session.active? %>' data-controller='activity'>
      <% case @recommendation.activity.class.to_s %>
        <% when 'Restaurant' %>
          <%= render 'recommendations/details/restaurant', recommendation: @recommendation %>
        <% when 'Event' %>
          <%= render 'recommendations/details/event', recommendation: @recommendation %>
        <% when 'Attraction' %>
          <%= render 'recommendations/details/attraction', recommendation: @recommendation %>
        <% when 'Movie' %>
          <%= render 'recommendations/details/movie', recommendation: @recommendation %>
        <% else %>
      <% end %>
      <h2>Address</h2>
      <p><%= @recommendation.activity.address %></p>
      <%= render 'recommendations/details/map', recommendation: @recommendation, markers: @markers %>
      <% if !@recommendation.accepted?%>
        <div data-activity-target='details_buttons' class='d-flex justify-content-center'>
        <%= render 'buttons', recommendation: @recommendation, session: @recommendation.session %>
        </div>
      <% end %>
    </div>
  </div>
</div>
