<div class='container'>
  <div id='landing-page-header'>
    <h1 class="border my-3 text-center">EasyFind</h1>
    <%= link_to 'back arrow to category', root_path%>
  </div>
    <h3 class='text-center my-3 border'><%= @recommendation.activity.class %></h3>

  <div class='recommendation-container' data-controller='activity'>
    <% case @recommendation.activity.class.to_s %>
      <% when 'Restaurant' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.name %></p>
          <p>Photo: <%= @recommendation.activity.photo %></p>
          <p>Rating: <%= @recommendation.activity.rating %></p>
          <p>Price Level: <%= @recommendation.activity.price_level %></p>
          <p>Website: <%= @recommendation.activity.website %></p>
          <p>Address: <%= @recommendation.activity.address %></p>
          <p>Type: <%= @recommendation.activity.cuisine %></p>
          <p>Open hours: <%= @recommendation.activity.hours %></p>
        </div>
      <% when 'Event' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.name %></p>
          <p>Date: <%= @recommendation.activity.date %></p>
          <p>Description: <%= @recommendation.activity.description %></p>
          <p>Address: <%= @recommendation.activity.address %></p>
          <p>Website: <%= @recommendation.activity.website %></p>
        </div>
      <% when 'Attraction' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.name %></p>
          <p>Address: <%= @recommendation.activity.address %></p>
          <p>Photo: <%= @recommendation.activity.img %></p>
          <p>Website: <%= @recommendation.activity.website %></p>
        </div>
      <% when 'Movie' %>
        <div class='recommendation-card'>
          <p>Title: <%= @recommendation.activity.title %></p>
          <p>Poster: <%= @recommendation.activity.poster %></p>
          <p>Description: <%= @recommendation.activity.description %></p>
          <p>Screen_time: <%= @recommendation.activity.screen_time %></p>
          <p>Therter: <%= @recommendation.activity.theater_address %></p>
          <p>Rating: <%= @recommendation.activity.rating %></p>
          <p>Genre: <%= @recommendation.activity.genre %></p>
        </div>
      <% else %>
    <% end %>
    <% if !@recommendation.accepted?%>
      <div data-activity-target='details_buttons' class='d-flex flex-row'>
        <%= button_to 'Go Back', recommendation_path(@recommendation), method: :get, class: 'btn btn-warning mx-1' %>
        <%= render 'button_another', recommendation: @recommendation%>
        <%= button_to 'Accept', recommendation_path(@recommendation), method: :patch, params: {type: @recommendation.activity.class, status: 'accepted'}, class: 'btn btn-success mx-1'%>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back', root_path, class:'btn btn-primary mx-1 my-2' %>
</div>
