<div data-controller=''>
  <% selected_button_class = 'btn-warning disabled full-opacity' %>
  <% non_selected_button_class = 'btn-outline-warning' %>

  <div class='profile-buttons d-flex flex-row justify-content-around mt-3 mb-1'>
    <%= link_to 'Favourited', profile_path(:favorited), class: "btn col-4 #{@type == 'favorited'? selected_button_class : non_selected_button_class}"%>

    <%= link_to 'Selected', profile_path(:accepted), class: "btn col-4 #{@type == 'accepted'? selected_button_class : non_selected_button_class}"%>

    <%= link_to 'Bookmarked', profile_path(:bookmarked), class: "btn col-4 #{@type == 'bookmarked'? selected_button_class : non_selected_button_class}"%>
  </div>

  <select class='history-filter ms-3'>
    <option value="all">All</option>
    <option value="restaurants">Restaurants</option>
    <option value="movies">Movies</option>
    <option value="attractions">Attractions</option>
    <option value="events">Events</option>
  </select>

  <!-- -->
  <div class='selected-history-container mt-2 border-top' data-profile-target='history_all'>
    <% if @recommendations.empty? %>
      <h3>No <%= @type %> activities.</h3>
      <%= link_to 'Get Started!', categories_path, class:'btn btn-primary mx-1 my-2' %>
    <% else %>
      <% @recommendations.each do |recommendation| %>
        <% activity_type = recommendation.activity_type.downcase %>
        <%= render "shared/activity_cards/#{activity_type}_card", recommendation: recommendation, type: @type %>
      <% end %>

      <div class='mt-1'></div>
    <% end %>
  </div>
</div>
