<div data-controller='profile'>

  <div class="profile-id">
    <%= image_tag "yuefei.jpg", class: "avatar-profile", alt: "User Photo" %>
    <h1>Name</h1>
  </div>




  <div class='profile-buttons d-flex flex-row justify-content-around mb-1'>
    <%= link_to 'To Try', recommendations_path(status: 'accepted'), class: 'btn sections ml-1 col-4', data: {profile_target: 'selected'}%>
    <%= link_to 'Bookmarks', recommendations_path(status: 'bookmarked'), class: 'btn sections col-4'%>
    <%= link_to 'Favourites', '#', class: 'btn sections mr-1 col-4', data: {action:'click->profile#clear'}%>
  </div>



  <div class="d-flex justify-content-around">
    <label>
      <%= radio_button_tag 'categories', 'all', true, class: "radio" %>
      <%= image_tag "check.png", alt: "Firework" %>
    </label>

    <label>
      <%= radio_button_tag 'categories', 'restaurants', class: "radio" %>
      <%= image_tag "knife_grey.png", alt: "Firework" %>
    </label>

    <label >
      <%= radio_button_tag 'categories', 'events', class: "radio" %>
      <%= image_tag "event_grey.png", alt: "Firework" %>
    </label>

    <label >
      <%= radio_button_tag 'categories', 'attractions', class: "radio" %>
      <%= image_tag "coaster_grey.png", alt: "Fareswheel" %>

    </label>

    <label >
      <%= radio_button_tag 'categories', 'movies', class: "radio" %>
      <%= image_tag "movie_grey.png", alt: "Firework" %>
    </label>
  </div>

  <!-- -->
  <div class='selected-history-container mt-2 border-top' data-profile-target='history_all'>
    <% if @recommendations.length > 0 %>
      <%= render 'recommendations/profile/restaurants', restaurants: @restaurants %>
      <%= render 'recommendations/profile/movies', movies: @movies %>
      <%= render 'recommendations/profile/attractions', attractions: @attractions %>
      <%= render 'recommendations/profile/events', events: @events %>
      <div class='mt-1'></div>
    <% else %>
      <h3>No recommendation <%= params[:status] %>. Go to find some?</h3>
      <%= link_to 'Find it!', categories_path, class:'btn btn-primary mx-1 my-2' %>
    <% end %>
  </div>
</div>
