<div data-controller=''>
  <% selected_button_class = 'btn-warning disabled full-opacity' %>
  <% non_selected_button_class = 'btn-outline-warning' %>

  <div class='profile-buttons d-flex flex-row justify-content-around mt-3 mb-1'>
    <%= link_to 'Favourited', profile_path(:favorited), class: "btn col-4 #{@type == 'favorited'? selected_button_class : non_selected_button_class}"%>

    <%= link_to 'Selected', profile_path(:accepted), class: "btn col-4 #{@type == 'accepted'? selected_button_class : non_selected_button_class}"%>

    <%= link_to 'Bookmarked', profile_path(:bookmarked), class: "btn col-4 #{@type == 'bookmarked'? selected_button_class : non_selected_button_class}"%>
  </div>

  <div class="d-flex justify-content-around">
    <label>
      <%= radio_button_tag 'categories', 'all', true, class: "radio" %>
      <i class="fa-solid fa-house px-4"></i>
    </label>

    <label>
      <%= radio_button_tag 'categories', 'restaurants', class: "radio" %>
      <i class="fa-solid fa-utensils px-4"></i>
    </label>

    <label >
      <%= radio_button_tag 'categories', 'events', class: "radio" %>
      <i class="fa-solid fa-calendar-days px-4"></i>
    </label>

    <label >
      <%= radio_button_tag 'categories', 'attractions', class: "radio" %>
      <i class="fa-solid fa-map-pin px-4"></i>
    </label>

    <label >
      <%= radio_button_tag 'categories', 'movies', class: "radio" %>
      <i class="fa-solid fa-film px-4"></i>
    </label>
  </div>

  <!-- -->
  <div class='selected-history-container mt-2 border-top' data-profile-target='history_all'>
    <% if @recommendations.empty? %>
      <h3>No <%= @type %> activities.</h3>
      <%= link_to 'Get Started!', categories_path, class:'btn btn-primary mx-1 my-2' %>
    <% else %>
      <div class="history-by-category">
        <% @recommendations.each do |recommendation| %>
          <% activity_type = recommendation.activity_type.downcase %>
          <%= render "shared/activity_cards/#{activity_type}_card", recommendation: recommendation, type: @type %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
