<div class='show-custom-container'>
  <div class="container mb-5 mt-4">
    <div class="d-flex">
      <%= link_to categories_path do %>
        <%= image_tag "back.png", alt: "Back" %>
      <% end %>
      <h5 class="show-before-margin">
        <% activity_type = @recommendation.activity.class.to_s %>
        <%= case activity_type
            when 'Restaurant'
              "Restaurants"
            when 'Event'
              "Events"
            when 'Attraction'
              "Attractions"
            when 'Movie'
              "Movies"
            else
              "Recommendation"
            end %>
      </h5>
    </div>
    <hr class="show-custom-hr">
  </div>

  <div class='show-recommendation-container' data-controller='activity'>
    <% case @recommendation.activity.class.to_s %>
      <% when 'Restaurant' %>
        <%= render 'recommendations/basic/restaurant', recommendation: @recommendation %>
      <% when 'Event' %>
        <%= render 'recommendations/basic/event', recommendation: @recommendation %>
      <% when 'Attraction' %>
        <%= render 'recommendations/basic/attraction', recommendation: @recommendation %>
      <% when 'Movie' %>
        <%= render 'recommendations/basic/movie', recommendation: @recommendation %>
      <% else %>
        <!-- Handle other types or default case here -->
    <% end %>
    <div class='d-flex flex-row justify-content-center'>
      <%= render 'buttons', recommendation: @recommendation %>
    </div>
  </div>
</div>
