<div class='container'>
  <div id='landing-page-header'>
    <h1 class="border my-3 text-center">EasyFind</h1>
    <%= link_to 'back arrow to category', root_path%>
    <h3 class='text-center my-3 border'>How about this <%= @recommendation.activity.class %></h3>
  </div>

  <div class='recommendation-container' data-controller='activity'>
    <% case @recommendation.activity.class.to_s %>
      <% when 'Restaurant' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.name %></p>
          <p>Photo: <%= @recommendation.activity.photo %></p>
          <p>Rating: <%= @recommendation.activity.rating %></p>
          <p>Price Level: <%= @recommendation.activity.price_level %></p>
          <p>Type: <%= @recommendation.activity.cuisine %></p>
          <div class='d-none'>
            <p>Website: <%= @recommendation.activity.website %></p>
            <p>Address: <%= @recommendation.activity.address %></p>
            <p>Open hours: <%= @recommendation.activity.hours %></p>
          </div>
        </div>
      <% when 'Event' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.name %></p>
          <p>Date: <%= @recommendation.activity.date %></p>
          <p>Description: <%= @recommendation.activity.description %></p>
          <div class='d-none'>
            <p>Address: <%= @recommendation.activity.address %></p>
            <p>Website: <%= @recommendation.activity.website %></p>
          </div>
        </div>
      <% when 'Attraction' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.name %></p>
          <p>Address: <%= @recommendation.activity.address %></p>
          <p>Photo: <%= @recommendation.activity.img %></p>
          <div class='d-none'>
            <p>Website: <%= @recommendation.activity.website %></p>
          </div>
        </div>
      <% when 'Movie' %>
        <div class='recommendation-card'>
          <p>Name: <%= @recommendation.activity.title %></p>
          <p>Poster: <%= @recommendation.activity.poster %></p>
          <p>Description: <%= @recommendation.activity.description %></p>
          <div class='d-none'>
            <p>Screen_time: <%= @recommendation.activity.screen_time %></p>
            <p>Therter: <%= @recommendation.activity.theater_address %></p>
            <p>Rating: <%= @recommendation.activity.rating %></p>
            <p>Genre: <%= @recommendation.activity.genre %></p>
          </div>
        </div>
      <% else %>
    <% end %>
    <div class='d-flex flex-row'>
      <%= render 'button_another', recommendation: @recommendation%>
      <%= link_to 'More info', details_path(@recommendation), class: 'btn btn-warning mx-1 ' %>
    </div>
  </div>
  <%= link_to 'Back to Home', categories_path, class:'btn btn-primary mx-1 my-2' %>
</div>
