<div class='show-custom-container'>
  <div id='details-page-header'>
  <div class="mb-1 mt-2">
    <div class="d-flex align-items-center header-box">
      <%= link_to categories_path do %>
        <%= image_tag "back.png", alt: "Back" %>
      <% end %>
  <h3 class='my-1 header-text'><%= @recommendation.activity.class %></h3>
    </div>
  </div>
</div>

  <h2 class="container mt-2 " id="friendly-text" data-controller="friendly-text-change"></h2>

  <div class='show-recommendation-container' data-controller='activity'>
    <% case @recommendation.activity.class.to_s %>
      <% when 'Restaurant' %>
        <%= render 'recommendations/basic/restaurant', recommendation: @recommendation %>
      <% when 'Event' %>
        <%= render 'recommendations/basic/event', recommendation: @recommendation %>
      <% when 'Attraction' %>
        <%= render 'recommendations/basic/attraction', recommendation: @recommendation %>
      <% when 'Movie' %>
        <%= render 'recommendations/basic/movie', recommendation: @recommendation %>
      <% else %>
        <!-- Handle other types or default case here -->
    <% end %>
    <div class='d-flex flex-row justify-content-center'>
      <%= render 'buttons', recommendation: @recommendation %>
    </div>
  </div>
</div>
