<div class='container'>
  <%# <div id='landing-page-header'> %>
    <%# <h1 class="border my-3 text-center">EasyFind</h1> %>
    <%# <%= link_to 'Back to Categories', categories_path, class:'btn btn-primary mx-1 my-2' %>
    <%# <h3 class='text-center my-3 border'>How about this <%= @recommendation.activity.class</h3> %>
  <%# </div> %>
  <div class="mb-5 mt-4">
    <div class="d-flex">
      <%= link_to categories_path do %>
        <%= image_tag "back.png", alt: "Back" %>
      <% end %>
      <h5 class="before-margin">
        <% activity_type = @recommendation.activity.class.to_s %>
        <%= case activity_type
            when 'Restaurant'
              "Restaurants"
            when 'Event'
              "Events"
            when 'Attraction'
              "Attractions"
            when 'Movie'
              "Movies"
            else
              "Recommendation"
            end %>
      </h5>
    </div>
    <hr class="custom-hr">
  </div>

  <div class='recommendation-container' data-controller='activity'>
    <% case @recommendation.activity.class.to_s %>
      <% when 'Restaurant' %>
        <%= render 'recommendations/basic/restaurant', recommendation: @recommendation %>
      <% when 'Event' %>
        <%= render 'recommendations/basic/event', recommendation: @recommendation %>
      <% when 'Attraction' %>
        <%= render 'recommendations/basic/attraction', recommendation: @recommendation %>
      <% when 'Movie' %>
        <%= render 'recommendations/basic/movie', recommendation: @recommendation %>
      <% else %>
    <% end %>
    <div class='d-flex flex-row'>
      <%= render 'button_another', recommendation: @recommendation%>
      <%= link_to 'More info', details_path(@recommendation), class: 'btn btn-warning mx-1 ' %>
    </div>
  </div>
</div>
