<% activity_type = @session.bookmarked_recommendations.first.activity_type.downcase %>
<h4>Current <span><strong><%= activity_type.capitalize %></span></strong> Bookmarks!</h4>

<%= link_to 'Back to recommendations', recommendation_path(@session.pending_recommendation) %>
<div>
  <div class='selected-history-container mt-2 border-top'>
    <% if @session.bookmarked_recommendations.empty? %>
      <h3>No <%= @type %> activities.</h3>
    <% else %>
      <div class="history-by-category">
        <% @session.bookmarked_recommendations.each do |recommendation| %>
            <%= render "shared/activity_cards/#{activity_type}_card", recommendation: recommendation, type: @type%>
            <%= button_to 'delete', recommendation_path(recommendation), params:{ status: 'rejected', from: 'bookmarks' }, method: :patch, data: { turbo_confirm: 'Are you sure?' }
            %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
