<div class='show-custom-container'>
  <div id='details-page-header'>
    <div class="mb-1 mt-2">
      <div class="d-flex align-items-center header-box justify-content-space-between" >
        <%= link_to categories_path do %>
          <%= image_tag "back.png", alt: "Back" %>
        <% end %>
        <h3 class='my-1 header-text'><%= @session.accepted_recommendation.activity.name %></h3>
      </div>
    </div>
  </div>
</div>

<div class='container mb-4' data-controller='activity'>
  <div class='<%= "bottom-spacing-for-scrollable" if @session.active? %>' data-controller='activity'>

    <h2 class="mt-2 " id="end-text" data-controller="accepted"></h2>

    <%= image_tag @session.accepted_recommendation.activity.photo, alt: "Activity Photo", class: "end-photo mb-4 d-flex flex-column justify-content-center align-items-center w-70" %>

    <div class="end-website mb-3">
      <% case @session.accepted_recommendation.activity.class.to_s %>
            <% when 'Restaurant' %>
              <h2 class="web-text">Maybe check out their website?</h2>
              <%= link_to @session.accepted_recommendation.activity.name, @session.accepted_recommendation.activity.website, class: "end-link", target: "_blank"  %>

            <% when 'Event' %>
              <h2 class="web-text">Maybe check out their website?</h2>
              <%= link_to "#{@session.accepted_recommendation.activity.name.split(' ')[0..1].join(' ').gsub(/\W+\s?/,' ')}", '#', class:'text-dark text-decoration-underline fst-italic' %>

            <% when 'Attraction' %>
              <h2 class="web-text">Maybe check out their website?</h2>
              <%= link_to @session.accepted_recommendation.activity.name, @session.accepted_recommendation.activity.website, class: "end-link", target: "_blank"  %>
      <% end %>
    </div>


    <div>
      <% case @session.accepted_recommendation.activity.class.to_s %>
              <% when 'Restaurant' %>
                <h2 class="sub-header-text">Hours Open
                  <p style="font-size: large; font-weight: normal;">
                    Monday:  9:00 - 16:00 <br>
                    Tuesday:  9:00 - 16:00 <br>
                    Wednesday:  9:00 - 16:00 <br>
                    Thursday:  9:00 - 16:00 <br>
                    Friday:  9:00 - 16:00 <br>
                    Saturday:  9:00 - 16:00 <br>
                    Sunday:  9:00 - 16:00 <br>
                  </p>
                </h2>

              <% when 'Event' %>
                <h2 class="my-3 sub-header-text" style="margin-right: 40px;"> Event Day <br>
                <p style="font-size: large;">
                  <%= @session.accepted_recommendation.activity.date %></h2>
                </p>
      <% end %>
    </div>

    <div>
      <% if @session.accepted_recommendation.activity.class.to_s == 'Movie' %>
        <h2>Playtime</h2>
        <h5><%= ['10:30 - 12:30','10:15 - 12:15','9:45 - 11:45','10:00 - 12:00'].sample %>
          <br>
            <span><%= ['15:45 - 17:45','18:30 - 20:30','19:00 - 21:00','19:30 - 21:30'].sample %></span>
        </h5>
      <% end %>
    </div>

    <div>
      <h2 class="sub-header-text"><%= @session.accepted_recommendation.activity.class.to_s == 'Movie' ? 'Theater address' : 'Address' %>
      </h2>
      <p class="end-text"><%= @session.accepted_recommendation.activity.address %></p>
      <%= render 'recommendations/details/map', recommendation: @recommendation, markers: @markers %>
    </div>

  </div>
</div>
