<% event = recommendation %>
<div class='selected-card'>
  <%= link_to details_path(event) do %>
    <%= image_tag "#{event.activity.img}", class:'img-thumbnail'%>
    <div class="styling-purpose">
      <%= render 'shared/activity_cards/like_button', recommendation: event , type: type %>
      <div class="styling-purpose">
        <i class="fa-solid fa-calendar-days"></i>
        <%= event.activity.name %>
        <%= event.activity.created_at.to_date %>
      </div>
    </div>
  <% end %>
</div>
