<% movie = recommendation %>
<div class='selected-card'>
  <%= link_to details_path(movie, from: params[:from], type: type) do %>
    <div class="card-photo">
      <%= image_tag "#{movie.activity.poster}", class:'img-thumbnail'%>
    </div>


    <div class="card-info">
    <div class="card-info-a">
      <%= image_tag "movie_black.png", alt: "Fareswheel", class: "icon"%>
      <div class="info-text">

        <%= movie.activity.name.truncate(12) %>

      </div>
    </div>
      <%= render 'shared/activity_cards/like_button', recommendation: movie , type: type %>
    </div>

  <% end %>
</div>
