<% restaurant = recommendation %>


<div class='selected-card'>
  <%= link_to details_path(restaurant, from: params[:from], type: type) do %>
    <div class="card-photo">
      <%= image_tag "#{restaurant.activity.photo}", class:'img-thumbnail'%>
    </div>



    <div class="card-info">
    <div class="card-info-a">
      <div class='fill'>
        <%= image_tag "knife_black.png", alt: "Fareswheel"%>
      </div>
      <div class="info-text">

        <%= restaurant.activity.name.truncate(16) %>

      </div>
    </div>
      <%= render 'shared/activity_cards/like_button', recommendation: restaurant , type: type %>
    </div>

  <% end %>
</div>
