<% restaurant = recommendation %>
<div class='selected-card'>
  <%= link_to details_path(restaurant) do %>
    <div class="styling-purpose">
      <div class="card-photo">
            <%= image_tag "#{restaurant.activity.photo}", class:'img-thumbnail'%>
          </div>
    </div>
  <% end %>
  <div class="styling-purpose">
    <%= render 'shared/activity_cards/like_button', recommendation: restaurant , type: type %>
    <div class="styling-purpose">
       <div class="card-info">
            <%= image_tag "knife_grey.png", alt: "Fareswheel", class: "icon"%>
            <%= restaurant.activity.name%>

          </div>
    </div>
  </div>
</div>
