<% restaurant = recommendation %>


<div class='selected-card'>
  <%= link_to details_path(restaurant, from: params[:from], type: type) do %>
    <div class="card-photo">
      <%= image_tag "#{restaurant.activity.photo}", class:'img-thumbnail'%>
    </div>



    <div class="card-info">
    <div class="card-info-a">
      <%= image_tag "knife_black.png", alt: "Fareswheel", class: "icon"%>
      <div class="info-text">
<<<<<<< HEAD
        <%= restaurant.activity.name.truncate(16) %>
=======
        <%= restaurant.activity.name.truncate(15) %>
>>>>>>> master
      </div>
    </div>
      <%= render 'shared/activity_cards/like_button', recommendation: restaurant , type: type %>
    </div>

  <% end %>
</div>
