
<div class="background-image-container">
  <div class='container' >
    <div id='landing-page-header' class=''>
      <h1 class="mt-3 mb-0 mainText">Lets do something in <strong>Montreal!</strong></h1>

    </div>
  </div>

  <div id='landing-page-title' class="">
    <div class='restaurants border home-category-card' >
      <i class="fa-solid fa-utensils"></i>
      <%= button_to 'Restaurants', session_index_path, method: :post, params: {type: 'Restaurant'},class: 'home-button' %>
    </div>

    <div class='attractions  border home-category-card'>
      <%= image_tag "coaster_black.png", alt: "Fareswheel" %>
      <%= button_to 'Attractions', session_index_path, method: :post, params: {type: 'Attraction'},class: "home-button" %>
    </div>

    <div class='events  border home-category-card'>
      <%= image_tag "event_black.png", alt: "Firework" %>
      <%= button_to 'Events', session_index_path, method: :post, params: {type: 'Event'},class: "home-button" %>
    </div>

    <div class='movies  border home-category-card'>
      <%= image_tag "movie_black.png", alt: "Firework" %>
      <%= button_to 'Movies', session_index_path, method: :post, params: {type: 'Movie'},class: "home-button" %>
    </div>
  </div>
</div>
