<!DOCTYPE html>
<html>
  <head>
    <title>EasyFind1507Rails</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <div class="rectangle"></div>
    <%= render "shared/flashes" %>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
